---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import WspIcon from "../components/icons/Wsp.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Technologies from "../components/Technologies.astro";
import Sobremi from "../components/Sobremi.astro";
---

<Layout
  title="Portafolio de IsmaDev - Desarrollador y Programdor Web"
  description=""
>
  <main class="px-8">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-3"
        src="/fixita.jpeg"
        alt="ismadev"
      />
      <div class="text-center sm:text-left">
        <!-- Título -->
        <h1
          class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-col sm:flex-row gap-x-4 pb-4 items-center sm:items-start"
        >
          Hola, Soy IsmaDev.
          <div
            class="flex justify-center sm:justify-start items-center mt-2 sm:mt-5"
          >
            <Badge>Disponible para trabajar</Badge>
          </div>
        </h1>

        <!-- Subtítulo -->
        <h2
          class="text-lg md:text-xl lg:text-2xl text-white opacity-80 max-w-[700px] mx-auto sm:mx-0"
        >
          Experiencia como desarrollador Full Stack y Apasionado por el
          Frontend. De Santiago de Chile. Apasionado por crear interfaces
          minimalistas.
        </h2>
      </div>

      <nav class="flex gap-4 mt-4 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/ismael-herrada-5b6183308/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill
          href="https://github.com/fixita"
        >
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill
          href="mailto:ismaelignaciohe@gmail.com"
        >
          <MailIcon class="size-4 md:size-6" />
          ismaelignaciohe@gmail.com
        </SocialPill>
        <SocialPill
          href="https://www.linkedin.com/in/ismael-herrada-5b6183308/"
        >
          <WspIcon class="size-4 md:size-6" />
          WhatsApp
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-white mb-6 font-bold flex gap-x-2 items-center">
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="sobremi">
      <h2 class="text-white mb-6 font-bold flex gap-x-2 items-center">
        Sobre Mi
      </h2>
      <Sobremi />
    </SectionContainer>

    <SectionContainer id="tecnologias" class="mt-10">
      <h2 class="text-white mb-6 font-bold flex gap-x-2 items-center">
        Tecnologias
      </h2>
      <Technologies />
    </SectionContainer>
  </main>
</Layout>
