<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
  <!-- <img class="rounded-full w-12 h-12" src="/public/fixita.jpeg" alt="ismadev" /> -->
  <nav class="flex flex-row gap-x-5 opacity-80">
    <a class="text-white" href="#top">Inicio</a>
    <a class="text-white" href="#sobremi">Sobre mi</a>
    <a class="text-white" href="#experiencia">Experiencia</a>
    <a class="text-white" href="#tecnologias">Tecnologias</a>
    <a class="text-white" href="#contacto">Contacto</a>
  </nav>
</header>
