<article class="rounded-xl border border-gray-700 p-4">
  <div class="flex items-center gap-4">
    <img alt="" src="/fixita.jpeg" class="size-16 rounded-full object-cover" />

    <div>
      <h3 class="text-lg font-medium text-white">Ismael Herrada Escudero</h3>

      <div class="flow-root">
        <ul class="-m-1 flex flex-wrap">
          <li class="p-1 leading-none">
            <a href="#" class="text-xs font-medium text-gray-300">
              Santiago, Chile.
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="mt-4 space-y-2 text-justify">
    <li>
      <a
        href="#"
        class="block h-full rounded-lg border border-gray-700 p-4 hover:border-white"
      >
        <strong class="font-medium text-white"
          >Estudiante de Ingeniería Civil en Computación e Informática | Último
          semestre</strong
        >

        <p class="mt-4 text-sm font-medium text-white/90">
          Soy estudiante de Ingeniería Civil en Computación e Informática en la
          Universidad Mayor, cursando mi último semestre y desarrollando mi
          proyecto de título. Tengo experiencia en desarrollo web full-stack,
          con una fuerte pasión por el frontend, donde disfruto crear interfaces
          ordenadas y minimalistas que optimizan la experiencia del usuario.
          También he trabajado en backend, lo que me ha permitido tener una
          visión completa del ciclo de desarrollo.
        </p>

        <p class="mt-4 text-sm font-medium text-white/90">
          A lo largo de mi carrera, he trabajado en dos importantes
          instituciones:
          <strong>Empresas SB</strong>, donde me enfoqué en la validación de
          código, administración de bases de datos, y creación de manuales de
          autoatención, y en el <strong>Hospital Luis Tisné</strong>, donde fui
          parte del equipo de desarrollo encargado de la migración de sistemas a
          nuevas plataformas tecnológicas, contribuyendo a mejorar el
          rendimiento y la eficiencia de los procesos hospitalarios.
        </p>

        <p class="mt-4 text-sm font-medium text-white/90">
          Mis intereses incluyen el desarrollo web, inteligencia artificial y
          análisis de datos. Actualmente, estoy concentrado en mi proyecto de
          título y en constante aprendizaje para perfeccionar mis habilidades en
          tecnologías como Python Django, Angular, Node.js, Express, y análisis
          de imágenes con Python.
        </p>
      </a>
    </li>
  </ul>
</article>
